name: Build Examples

on:
  push:
   branches:
     -master
  pull_request:
  workflow_dispatch:

jobs:
  build_arduino:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        example:
          - "libraries/n-able/examples/FreeRTOS"
          - "libraries/n-able/examples/BLE_Advertiser"
          - "libraries/n-able/examples/BLE_Scan"
          - "libraries/SPI/examples/BarometricPressureSensor"
          - "libraries/Wire/examples/digital_potentiometer"
        variant:
          - Generic_nRF51822:chip=xxaa
          - Generic_nRF52810
          - Generic_nRF52832
          - Generic_nRF52833
          - Generic_nRF52840
          - feather52840

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install utils
        run: |
          python -m pip install --upgrade pip
          pip install adafruit-nrfutil

      - name: Build n-able Arduino
        uses: arduino/compile-sketches@v1
        with:
          cli-version: latest
          platforms: |
            - name: "n-able-Arduino:arm-ble"
              source-url: "https://h2zero.github.io/n-able-Arduino/package_n-able_boards_test_index.json"
              version: latest
            - name: "n-able-Arduino:arm-ble"
              source-path: .
          libraries: |
            - name: NimBLE-Arduino
          fqbn: "n-able-Arduino:arm-ble:${{ matrix.variant }}"
          sketch-paths: ${{ matrix.example }}
