name: Build Examples

on:
  push:
   branches:
     -master
  pull_request:
  workflow_dispatch:

jobs:
  build_arduino:
    strategy:
      fail-fast: false
      matrix:
        example:
          - "libraries/n-able/examples/FreeRTOS"
          - "libraries/n-able/examples/BLE_Advertiser"
          - "libraries/n-able/examples/BLE_Scan"
          - "libraries/SPI/examples/BarometricPressureSensor"
          - "libraries/Wire/examples/digital_potentiometer"
        variant:
          - Generic_nRF51822:chip=xxaa
          - Generic_nRF52810
          - Generic_nRF52832
          - Generic_nRF52833
          - Generic_nRF52840
          - feather52840

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install utils
        run: |
          python -m pip install --upgrade pip
          pip install adafruit-nrfutil

      - name: Build n-able Arduino
        uses: arduino/compile-sketches@v1
        with:
          cli-version: latest
          platforms: |
            - name: "n-able-Arduino:arm-ble"
              source-url: "https://h2zero.github.io/n-able-Arduino/package_n-able_boards_test_index.json"
              version: latest
            - name: "n-able-Arduino:arm-ble"
              source-path: .
          libraries: |
            - name: NimBLE-Arduino
          fqbn: "n-able-Arduino:arm-ble:${{ matrix.variant }}"
          sketch-paths: ${{ matrix.example }}

  build_pio:
    strategy:
      fail-fast: false
      matrix:
        example:
          - "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
          - "example/lib/examples/NimBLE_Server"
          - "example/lib/examples/NimBLE_Client"
        variant:
          - generic_nrf51822_xxaa
          - generic_nrf52810
          - generic_nrf52832
          - generic_nrf52833
          - generic_nrf52840
          - adafruit_feather_nrf52840
        nimble_version:
          - release/2.3
          - master
        include:
          - example: "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
            flags: build_flags = '-DCONFIG_BT_NIMBLE_EXT_ADV=1'
          - example: "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
            nimble_version: master
            flags: build_flags = '-DMYNEWT_VAL_BLE_EXT_ADV=1'
          - variant: adafruit_feather_nrf52840
        exclude:
          - example: "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
            variant: generic_nrf51822_xxaa
          - example: "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
            variant: generic_nrf52832
          - example: "example/lib/examples/Bluetooth_5/NimBLE_extended_server"
            variant: generic_nrf52810

    runs-on: ubuntu-latest

    steps:
      - name: Make build folders
        run: |
          mkdir -p example/framework
          mkdir example/src
          mkdir example/lib
      - name: Checkout n-able-arduino
        uses: actions/checkout@v6
        with:
          path: example/framework
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install platformio
        run: |
          python -m pip install --upgrade pip
          pip install platformio
      - name: Checkout NimBLE_Arduino
        uses: actions/checkout@v6
        with:
          repository: h2zero/NimBLE-Arduino
          ref: ${{ matrix.nimble_version }}
          path: example/lib
      - name: Build n-able PIO
        run: |
          cat > example/platformio.ini << EOF
            [env]
            platform = https://github.com/h2zero/platform-n-able.git#dev
            platform_packages = framework-n-able-arduino @ file://./framework
            framework = arduino
            ${{ matrix.flags }}

            [env:${{ matrix.variant }}]
            board = ${{ matrix.variant }}
          EOF
          cp ${{ matrix.example }}/* example/src/
          platformio run -d example
